html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }

@media screen and (max-width: 699px) {
    body {
        background-color: greenyellow;
    }
}

 @media screen and (min-width: 700px) {
    body {
        background-color: darkorchid;
    }
 }   

 @media screen and (min-width: 1000px) {
    body {
        background-color: aquamarine;
    }
    }
    
  